<div class="container">
  <h2 class="mt-3 mb-4">Log In</h2>

  <%= form_with(local: true, method: "post", url: sessions_path) do%>
    <div class="form-group">
      <%= label_tag(:username, "Username:") %>
      <%= text_field_tag(:username, nil, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= label_tag(:password, "Password:") %>
      <%= password_field_tag(:password, nil, class: "form-control") %>
    </div>

    <%= submit_tag("Log In", class: "btn btn-outline-success") %>
  <% end %>
</div>
