<div class="container">
  <%= form_for @user do |f|%>

    <div class="form-group">
      <%= f.label(:first_name, "New First Name") %>
      <%= f.text_field(:first_name, class: "form-control", required: true) %>
    </div>

    <div class="form-group">
      <%= f.label(:last_name, "New First Name") %>
      <%= f.text_field(:last_name, class: "form-control", required: true) %>
    </div>

    <div class="form-group">
      <%= f.label(:username, "New Username") %>
      <%= f.text_field(:username, class: "form-control", required: true) %>
    </div>

    <div class="form-group">
      <%= f.label(:password, "New Password") %>
      <%= f.password_field(:password, class: "form-control") %>
    </div>

    <div class="form-group">
      <%= f.label(:phone, "New Phone") %>
      <%= f.phone_field(:phone, class: "form-control", required: true) %>
    </div>

    <div class="form-group">
      <%= f.label(:email, "New Email") %>
      <%= f.email_field(:email, class: "form-control", required: true) %>
    </div>

    <%= f.submit("Confirm", class: "btn btn-outline-primary")%>
  <% end %>
</div>