<div class="container">
  <h2 class="text-center mb-4"><%= @user.first_name %> <%= @user.last_name%>'s Profile</h2>
  <table class="table table-dark">
    <tbody>
    <tr class="profile-row">
      <td>Name</td>
      <td><%= @user.first_name %> <%= @user.last_name %></td>
    </tr>
    <tr class="profile-row">
      <td>Username</td>
      <td><%= @user.username %></td>
    </tr>
    <tr class="profile-row">
      <td>Password</td>
      <td>********</td>
    </tr>
    <tr class="profile-row">
      <td>Phone Number</td>
      <td><%= @user.phone %></td>
    </tr>
    <tr class="profile-row">
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    </tbody>
  </table>
  <%= link_to "Edit", edit_user_path, class: "btn btn-outline-primary"%>
  <h3 class="text-center mb-4">Tickets Purchased</h3>
  <% @user.tickets.each do |ticket| %>
    <table class="table table-dark mb-1">
      <tbody>

        <tr class="profile-row">
          <td>Origin</td>
          <td><%= ticket.origin %></td>
        </tr>
        <tr class="profile-row">
          <td>Destination</td>
          <td><%= ticket.destination %></td>
        </tr>
        <tr class="profile-row">
          <td>Train</td>
          <td><%= ticket.train %></td>
        </tr>
        <tr class="profile-row">
          <td>Price</td>
          <td>$<%= ticket.price %></td>
        </tr>
        <tr class="profile-row">
          <td>time</td>
          <td><%= ticket.time %></td>
        </tr>
        <tr class="profile-row">
          <td>First Class</td>
          <td><%= ticket.first_class %></td>
        </tr>
        <tr class="profile-row">
          <td>Quantity</td>
          <td><%= ticket.quantity %></td>
        </tr>


      </tbody>
    </table>
    <%= link_to "Edit", edit_ticket_path(ticket.id), class: "btn btn-outline-primary mb-4" %>
    <%= link_to "Delete", ticket_path(ticket.id), method: :delete, data: {confirm: "Are you sure you want to delete this ticket?\nWe might refund your money."}, class: "btn btn-outline-danger ml-2 mb-4" %>
  <% end %>
</div>