<div class="container">
  <h1 class="text-center"> List of Train Schedules</h1>
  <% if !@stations.nil? %>

    <%= form_with(url: schedules_path, local: true, method: "get", class: "form-inline filter-form pt-3  pb-3 pl-3") do |f| %>
      <%#= f.text_field(:origin, class: "form-control mr-1", placeholder: "Origin") %>
      <%#= f.text_field(:destination, class: "form-control mr-1", placeholder: "Destination") %>
      <%= select(:origin, "", @stations.collect { |s| s["n.city"] }, {include_blank: true}, {class: "form-control"}) %>
      <%= select(:destination, "", @stations.collect { |s| s["n.city"] }, {include_blank: true}, {class: "form-control"}) %>
      <%= hidden_field(:time, value: "") %>
      <%= f.submit("Filter", class: "btn btn-outline-success") %>
      <%= link_to "Reset", schedules_path, class: "ml-4 btn btn-outline-primary" %>
    <% end %>
  <% end %>

  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Departure Time</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if !@schedule.nil? %>
      <% @schedule.each do |row| %>
        <%= form_with(url: new_ticket_path, local: true, method: "get", class: "form-inline filter-form mt-3 pt-3  pb-3 pl-3") do |f| %>
          <%= f.hidden_field(:arrivingat, class: "form-control", required: true, value: row[0]) %>
          <%= f.hidden_field(:goingto, class: "form-control", required: true, value: row[1]) %>
          <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
            <td>
              <%= select(:time, "", row[2], {include_blank: false}, {class: "form-control"}) %>
            </td>
            <td><%= f.submit("Buy Tickets", class: "btn btn-outline-primary") %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    </tbody>
  </table>
</div>
