<div class="container">
  <%= link_to "Back", schedules_path, class: "btn btn-outline-primary mt-2" %>
  <h1 class="text-center">Buy Ticket</h1>
  <h2 class="text-center"><b><%= params["arrivingat"] %></b> to <b><%= params["goingto"] %></b></h2>
  <h3 class="text-center"><b><%= params["time"] %></b> on <b><%= params["train"] %></b></h3>
  <h3 class="text-center">$<span id="price"><%= @price %></span><span id="price_1st" style="display: none"><%= @price_1st %></span></h3>

  <%= form_with(model: @ticket, local: true, method: "post", url: tickets_path) do |f| %>

    <div class="form-group">
      <%= f.hidden_field(:origin, class: "form-control", required: true, value: params["arrivingat"]) %>
    </div>

    <div class="form-group">
      <%= f.hidden_field(:destination, class: "form-control", required: true, value: params["goingto"]) %>
    </div>

    <div class="form-row">
      <div class="col form-group">
        <%= f.label(:first_name, "First Name") %>
        <%= f.text_field(:first_name, class: "form-control", required: true, placeholder:"John", value: @user.first_name) %>
      </div>
      <div class="col form-group">
        <%= f.label(:last_name, "First Name") %>
        <%= f.text_field(:last_name, class: "form-control", required: true, placeholder:"Smith", value: @user.last_name) %>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <%= f.label(:address, "Address") %>
        <%= f.text_field(:address, class: "form-control", placeholder: "123 Example Dr.", value: @user.address) %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <%= f.label(:city, "City") %>
        <%= f.text_field(:city, class: "form-control", value: @user.city) %>
      </div>
      <div class="col-md-4">
        <label>State</label>
        <%= f.select(:state, options_for_select(@states, @user.state), {include_blank: true}, {class: "form-control", value: @user.state}) %>
      </div>
      <div class="col-md-2">
        <%= f.label(:zip, "Zip") %>
        <%= f.text_field(:zip, class: "form-control", value: @user.zip) %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-11 form-group">
        <%= f.label(:credit_card, "Credit Card Number") %>
        <%= f.text_field(:credit_card, class: "form-control", placeholder: "xxxx-xxxx-xxxx-xxxx", value: @user.credit_card) %>
      </div>
      <div class="col-md-1 form-group">
        <%= f.label(:cvv, "CVV") %>
        <%= f.text_field(:cvv, class: "form-control", placeholder: "xxx", value: @user.cvv) %>
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <%= f.label(:experation_date, "Expiration Date") %><br>
        <%= f.date_select(:date, {discard_day: true, order: [:month, :year], date_separator: "/"}, {class: "form-control select-date"}) %>
      </div>

    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" value="">
      <label class="form-check-label">Save Payment Info</label>
    </div>

    <div class="form-check mb-2">
      <input class="form-check-input" type="checkbox" value="" id="firstClass">
      <label class="form-check-label" for="firstClass">First Class</label>
    </div>

    <%= f.submit("Buy Now", class: "btn btn-outline-primary") %>
  <% end %>
  </div>

  <script type="application/javascript">
      $(document).ready(function () {
          $('#firstClass').change(function () {
              $('#price').toggle()
              $('#price_1st').toggle()
          })
      });
  </script>