<!DOCTYPE html>
<html>
  <head>
    <title>OnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if @current_user %>
    <h1>Welcome <%=@current_user.name %></h1>
    <% end %>
    <%= flash[:alert] %>
    <%= yield %>
  </body>
</html>
