<!DOCTYPE html>
<html>
  <head>
    <title>OnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= "active" if controller_name == 'home' %> ">
          <%= link_to "Home", root_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Destinations", destinations_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if controller_name == 'schedules' %> ">
          <%= link_to "Schedule", schedules_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Train Status", edit_schedule_path(1), class: "nav-link"%>
        </li>
        <% if @current_user %>
        <li class="nav-item">
          <%= link_to "Modify Ticket", ticket_path(@current_user["$oid"]), class: "nav-link" %>
        </li>
          <% end %>
      </ul>
      <% if @current_user %>
        <%= link_to "Profile", user_path(@current_user["$oid"]), class: "btn btn-outline-success my-2 my-sm-0 mr-2" %>
        <%= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger my-2 my-sm-0" %>
      <% else %>
        <%= link_to "Log In", new_sessions_path, class: "btn btn-outline-success my-2 my-sm-0 mr-2" %>
        <%= link_to "Sign Up", new_user_path, class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </nav>
    <% flash.each do |type, message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
